@model LibraryManagmentSystemMVC.Application.ViewModel.DocumentVm.DocumentDetailVm

@{
    ViewData["Title"] = "Details";
}


<div>
    <h3>Szczegóły</h3>
    <table class="table table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <td>@Html.DisplayFor(model => model.Id)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DocumentNumber)</th>
            <td>@Html.DisplayFor(model => model.DocumentNumber)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <td>@Html.DisplayFor(model => model.Quantity)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <td>@(Model.Type == 1 ? "Przyjęcie" : "Utylizacja")</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Book.Name)</th>
            <td>@Html.DisplayFor(model => model.Book.Name)</td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Index">Powrót do listy</a>
</div>
