@model IEnumerable<LibraryManagmentSystemMVC.Application.ViewModel.BookVm.BookForListVm>

@{
    ViewData["Title"] = "BookList";
}

<h3>Lista książek</h3>

<p>
    <input type="button" value="Dodaj" onclick="location.href='@Url.Action("CreateBook", "Book")'" class="btn btn-primary" />
</p>
<table class="table table-striped table-bordered" id="bookTable">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishingHouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quanity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOnState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingHouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quanity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOnState)
            </td>
            <td>
                <input type="button" value="Edytuj" onclick="location.href='@Url.Action("EditBook", "Book", new { id = item.Id })'" class="btn btn-dark btn-sm" />
                <input type="button" value="Szczegóły" onclick="location.href='@Url.Action("Details", "Book", new { id = item.Id })'" class="btn btn-secondary btn-sm" />
                <input type="button" value="Usuń" onclick="location.href='@Url.Action("DeleteBook", "Book", new { id = item.Id })'" class="btn btn-danger btn-sm" />
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#bookTable').DataTable();
        });
    </script>
}
