@model LibraryManagmentSystemMVC.Application.ViewModel.AuthorVm.AuthorDetailVm

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Szczegóły</h4>
    <table class="table table-bordered">
        <tr>
            <th width="30%">@Html.DisplayNameFor(model => model.Id)</th>
            <td>@Html.DisplayFor(model => model.Id)</td>
        </tr>
        <tr>
            <th width="30%">@Html.DisplayNameFor(model => model.FirstName)</th>
            <td>@Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <th width="30%">@Html.DisplayNameFor(model => model.LastName)</th>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
    </table>
    <div class="col-sm-6">
        <table class="table table-bordered">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Books)</th>
            </tr>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
        </table>
    </div>
   
</div>
<div>
    <input type="button" value="Edytuj" onclick="location.href='@Url.Action("EditAuthor", "Author", new { id = Model.Id })'" class="btn btn-dark btn-sm" />
    <br />
    <a asp-action="Index">Powrót do listy</a>
</div>
