@model IEnumerable<LibraryManagmentSystemMVC.Application.ViewModel.AuthorVm.AuthorsForListVm>

@{
    ViewData["Title"] = "Index";
}

<h3>Lista autorów</h3>

<p>
    <input type="button" value="Dodaj" onclick="location.href='@Url.Action("AddAuthor", "Author")'" class="btn btn-primary" />
</p>
<table class="table table-striped table-bordered" id="authorTable">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <input type="button" value="Edytuj" onclick="location.href='@Url.Action("EditAuthor", "Author", new { id = item.Id })'" class="btn btn-dark btn-sm" />
                <input type="button" value="Szczegóły" onclick="location.href='@Url.Action("Details", "Author", new { id = item.Id })'" class="btn btn-secondary btn-sm" />
                <input type="button" value="Usuń" onclick="location.href='@Url.Action("DeleteAuthor", "Author", new { id = item.Id })'" class="btn btn-danger btn-sm" />
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{ 
<script>
    $(document).ready(function () {
        $('#authorTable').DataTable();
    });
</script>
}
