@model LibraryManagmentSystemMVC.Application.ViewModel.CustomerVm.CustomerDetailVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomerDetailVm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <h4>Address</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Street</th>
                <th scope="col">HouseNumber</th>
            </tr>
        </thead>
        @foreach (var item in Model.Addresses)
        {
            <tbody>
                <tr>
                    <td>@item.Country</td>
                    <td>@item.City</td>
                    <td>@item.Street</td>
                    <td>@item.HouseNumber</td>
                </tr>
            </tbody>

                }
        </table>
</div>
<div>
    @Html.ActionLink("Edit", "EditCustomer", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
