@model IEnumerable<LibraryManagmentSystemMVC.Application.ViewModel.CustomerVm.CustomerForListVm>

@{
    ViewData["Title"] = "Index";
}

<h3>Lista klientów</h3>

<p>
    <input type="button" value="Dodaj" onclick="location.href='@Url.Action("CreateCustomer", "Customer")'" class="btn btn-primary" />
</p>
<table class="table table-striped table-bordered" id="customerTable">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <input type="button" value="Edytuj" onclick="location.href='@Url.Action("EditCustomer", "Customer", new { id = item.Id })'" class="btn btn-dark btn-sm" />
                    <input type="button" value="Szczegóły" onclick="location.href='@Url.Action("Details", "Customer", new { id = item.Id })'" class="btn btn-secondary btn-sm" />
                    <input type="button" value="Usuń" onclick="location.href='@Url.Action("DeleteCustomer", "Customer", new { id = item.Id })'" class="btn btn-danger btn-sm" />
                    <input type="button" value="Historia" onclick="location.href='@Url.Action("GetCustomerHistory", "Customer", new { id = item.Id })'" class="btn btn-info btn-sm" />
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#customerTable').DataTable();
        });
    </script>
}
